h1.cheetaho-title {
	margin-bottom: 30px;
}

.cheetaho-block,
.settings-tab{
	background-color:#fff;
	padding: 25px;
	box-shadow:0 3px 3px rgba(0,0,0,0.1);
}

body .notice.cheetaho.error.mb-30,
body .error.cheetaho.error.mb-30,
body .updated.cheetaho.mb-30,
body .cheetaho.error.mb-30 {
	margin-left:0;
	margin-right:0;
	margin-bottom:30px;
}

.loading-icon {
    background:url(../img/loading.gif) 0 0 no-repeat;
}

.resetSpinner,
.cheetahoSpinner {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 5px;
}

.cheetaho-bulk-spinner {
	position: absolute;
	display: none;
	width: 20px;
	height: 20px;
	margin-top: 15px;
	background-size: 20px 20px;
	left:47%;
}

.cheetaho-mask {
  z-index:90000;
  width:100%;
  height:100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0.75;
  background: rgb(0, 0, 0);
}

.cheetaho-modal {
	position:fixed;
	width:440px;
	min-height:100px;
	z-index:99999;
	padding:20px;
	background:#fff;
	top:15%;
	left:50%;
	margin-left:-220px;
}

#cheetaho-bulk-progressbar {
	height: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    overflow: hidden;
    position:relative;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

}

#cheetaho-bulk-progressbar-status {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.cheetaho_req{
	border: none;
    color: #fff;
    padding: 3px 8px 4px;
    font-size: 11px;
    background: #3498DB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .15s;
}

.cheetaho-wrap {
	margin: 10px 20px 0 2px;
}

.cheetaho-title {
	position: relative;
    padding: 30px 20px;
    font-size: 23px;
    background: #3c8dbc;
    color: #FFF;
}

.cheetaho-rate-us {
	position: absolute;
    bottom: 50%;
    right: 20px;
    text-align: right;
    margin-bottom: -2.4em;
    color: #FFF;
    font-size:12px;
    line-height:18px;
}

.cheetaho-rate-us a {
	color: #FEE102;
}
.cheetaho-rate-us .stars {
	display: inline-block;
	margin: 2px 0 0 10px;
	text-decoration: none;
	letter-spacing: .2em;
	vertical-align: -1px;
}
.cheetaho-rate-us .stars .dashicons:before {
	font-size: 18px;
}
.cheetaho-rate-us a:hover,
.cheetaho-rate-us a:focus {
	color: #ffb900;
    cursor: pointer;
}

.cheetaho-col {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.cheetaho-align-center {
    align-items: center;
    -webkit-align-items: center;
}

.cheetaho-col-main{
    float:left;
    width:70%;
}


.cheetaho-col-sidebar {
	float: right;
    width: 28%;
    max-width: 300px;
}


@media only screen and (min-width: 1300px) {
	.cheetaho-col-main{
		 width:75%;
	}

	.cheetaho-col-sidebar {
	    width: 22%;
	    max-width: 300px;
	}
}

.form-table th {
	color:#000;
}

.cheetaho-tab-content .form-table th{
    width:160px;
}

.cheetaho-sizes-comment span {
	color:#F5A623;
}

.stats h3 {
	margin-top:0;
	text-transform:uppercase;
	color:#444;
	margin-bottom:10px;
	font-size:20px;
}

.cheetaho-btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 11px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration:none;
}

.cheetaho-twitter {
	color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.cheetaho-reddit {
	color: #fff;
    background: #ff4500;
    border-color: #ff4500;
}

.cheetaho-facebook {
	background: #4267b2;
	color:#fff;
}

.cheetaho-welcome {
    margin: 30px 20px 0 0;
}

.cheetaho-welcome .cheetaho-settings-section {
	border: 1px solid #D9D9D9;
	border-top: 0 none;
	background: #FFF;
}

.cheetaho-welcome .cheetaho-title.cheetaho-title {
    position: relative;
    padding: 30px 50px;
    font-size: 23px;
    background: #3c8dbc;
    color: #FFF;
}

.cheetaho-welcome .cheetaho-columns {
    overflow: hidden;
    padding: 15px 0;
    counter-reset: cols;
}

.cheetaho-welcome .cheetaho-columns .col-1-3 {
    width: 33.333%;
    padding-left: 28px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cheetaho-welcome .cheetaho-col-content {
    overflow: hidden;
}

.cheetaho-welcome .cheetaho-col-title {
    margin: 0 0 15px;
    font-size: 23px;
}

.cheetaho-welcome .cheetaho-col-desc {
    color: #5F758E;
    margin-bottom: 2em;
}

.cheetaho-welcome .cheetaho-notice-close  {
	margin-right:-30px;
}

.cheetaho-notice-close:hover,
.cheetaho-notice-close {
	color:#fff;
	text-decoration:none;
	float:right;
}

.counter .cheetaho-col-title:before {
    counter-increment: cols;
    content: counter(cols) ". ";
    color: #40B1D0;
}

.cheetaho-notice-close.dark {
	color:#444;
}

.cheetaho-alert-danger {
    background-color: #fff;
    border-left: 4px solid #ff0000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 1px 12px;
}

.cheetaho-alert-success {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
    border:1px solid green;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.cheetaho-alert-info {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
    border:1px solid #fff;
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.cheetaho-message-block h3{
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.cheetaho-message-block p{
    line-height: 1.2;
}

.cheetaho-message-block .stars {
	 color: #FEE102;
	 text-decoration:none;
}

.info-btn {
	font-weight:bold;
	color:#fff;
	background:#000;
	border-radius:50%;
	width:15px;
	height:15px;
	text-align:center;
	display:inline-block;
}

.info-btn:focus,
.info-btn:active,
.info-btn:hover {
	color:#fff;
	outline:none;
	cursor:pointer;
}

.cheetaho-bulk-info {
	position:relative;
}

body .info-btn:focus + .popup-container,
body .info-btn:active + .popup-container {
	display:block;
	border: #c0c0c0 1px dotted;
    padding: 5px 10px 10px;
    z-index: 100;
    background: #f0f0f0 no-repeat 100% 5%;
    margin: 10px;
    width: 350px;
    position: absolute;
    top: 10px;
    right:0;
    left:auto;
    text-decoration: none
}

.info-btn i{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	padding-bottom:3px;
}

.cheetahoError,
.cheetahoReset,
a.cheetahoError {
    border-bottom: 1px dashed;
    text-decoration: none;
    font-size:12px;
    color:blue;
}

small.cheetahoReset {
    position:relative;
}

.failed {
	font-size:10px;
	color:red;
}

.success td {
	font-size:12px;
	color:green;
}

a.cheetahoError:hover {
    cursor: help;
    position: relative
}
a.cheetahoError span {
    display: none
}
a.cheetahoError:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0 no-repeat 100% 5%;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    right:0;
    left:auto;
    color:red;
    text-decoration: none
}

/**bulk**/

.cheetaho-bulk .optimize {
	margin: 4px 23px 32px;
    text-align: center;
    clear: both;
}

.cheetaho-bulk .optimize .progressbar {
    position: relative;
    height: 32px;
    margin-bottom: 32px;
    line-height: 32px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #ebebeb;
}

.cheetaho-bulk .progress {
    background-color: #4CAF50;
    position: absolute;
    left: 0;
    min-width: 4px;
    width: 0;
    height: 32px;
    z-index: 2;
    transition: width 1s ease;
    background-size: 40px 80px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
}

.cheetaho-bulk .numbers {
    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cheetaho-bulk .whitebox {
    min-width: 750px;
    margin-top: 16px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.cheetaho-bulk table.whitebox thead th.thumbnail {
    width: 30px;
}

.cheetaho-bulk  table.whitebox .column {
    width: auto;
}

.cheetaho-bulk .button-hero {
	display:none;
}

.cheetaho-bulk .optimization-buttons {
	position:relative;
}

.cheetaho-bulk .button-hero.visible {
	display:inline-block;
}

.hide {
	display:none;
}

.cheetaho-wrap .resize-inputs input {
	max-width:50px;
}

.cheetaho.column-cheetaho .buttonWrap{
    position:relative;
}

.cheetaho-columns .col-1-12 {
    padding-left: 28px;
    width:100%;
    padding-right:28px;
    box-sizing: border-box;
}

.cheetaho-columns h4 {
    margin-bottom:5px;
}

.cheetaho-tabs ul {
    padding:15px 0 0;
    margin:0;
    border-bottom: 1px solid #dee2e6;
}

.cheetaho-tabs li{
    display:inline-block;
    margin:0;
    margin-bottom:-1px;
}

.cheetaho-tabs li a{
    display:inline-block;
    text-decoration:none;
    padding:7px 20px;
    background:#fff;
}

.cheetaho-tabs li.active a{
    color:#444;
    border:1px solid #dee2e6;
    border-color: #dee2e6 #dee2e6 #fff;
}

.cheetaho-tabs li a:focus {
    outline:none;
    box-shadow: none;
}

.cheetaho-tab-content {
    display:none;
}

.cheetaho-tab-content.active {
    display:block;
}

.cheetaho-modal-title {
    display: block;
    margin: 0;
    padding: 0;
    font-weight:bold;
    padding-bottom:5px;
    border: 0;
    color: #333;
    font-size:15px;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cheetaho-modal-footer {
    padding-top:10px;
}

.cheetaho-content-right {
    text-align: right;
}

.cheetaho-folder-picker {
    border: 1px dashed #ccc;
    padding: 0 10px;
    margin: 10px 0;
    max-height:250px;
    overflow-y:auto;
}

.cheetaho-folder-picker .jqueryFileTree
{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
}

.cheetaho-folder-picker .jqueryFileTree .directory {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    position:relative;
    border-radius: 4px;
    color: #17A8E3;
    display:block;
    padding:0 7px;
}
.cheetaho-folder-picker .jqueryFileTree .directory.unselectable {
    opacity: 0.4;
}

.cheetaho-folder-picker .jqueryFileTree .directory.selected {
    background-color: #F8F8F8;
}



.cheetaho-folder-picker .jqueryFileTree .directory a{
    color: #666666;
    padding:3px 0;
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    position:relative;
    z-index:2;
}

.cheetaho-folder-picker .jqueryFileTree .directory a i{
    font-size: 19px;
    vertical-align: middle;
    color: #e8c50d;
}

.cheetaho-tab-content #addCustomFolderView {
    width:300px;
}

.cheetaho-folders-list
{
    margin-bottom:20px;
}

.cheetaho-folders-list th,
.cheetaho-folders-list td {
    background:#eee;
    font-size:11px;
    padding:5px 10px;
}

.cheetaho-folders-list th {
    font-size:12px;
}

.cheetaho-folders-list td .button {
    font-size:11px;
    min-height:20px;
}

.cheetaho-folders-list td .button-alert {
    font-size:11px;
    min-height:20px;
    color: rgba(255, 21, 0, 0.8);
    border-color: rgba(255, 21, 0, 0.8);
    background: rgba(255, 21, 0, 0.1);
}

.cheetaho-other-media .thumbnail img {
    width:auto;
    height: auto;
    max-width: 100px;
}

.cheetaho-navigation {
    text-align: right;
    padding-top:20px;
}

.cheetaho-displaying-num {
    padding-top:5px;
    display:inline-block;
}

.p-20 {
    padding:20px;
}

.cheetaho-mb-5 {
    margin-bottom:5px;
}

.toolbar-in-title {
    display:inline-block;
    margin-left:15px;
    margin-right:15px;
}

.cheetaho-d-flex {
    display:flex;
}

.cheetaho-text-center {
    text-align: center;
}
